<%- include('./partials/topBar')  %> 

<%- include('./partials/navigationBar')  %> 

<% if (locals.validationErrors != null || locals.loginErrors != null) { %>
    <%- include('./partials/errorMessages')  %> 
<% } %>


            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter" tabindex="1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="false">
                <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">

                    <form action="/panel/addCV" method="POST" enctype="multipart/form-data" >
                        <div class="form-group">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Select File</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="modal-body">
                                    <input type="file" name="cv" class="form-control-file" id="exampleFormControlFile1">
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save changes</button>
                                </div>
                        </div>
                    </form>
                </div>
                </div>
            </div>


    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <!-- Bank Stats -->
                <section id="bank-cards" class="bank-cards">
                    <!-- Language Card -->
                    <h3>Languages I Usage</h3>
                    <div class="row match-height justify-content-center">
                        <% languages.forEach(language => { %>
                            <%- include('./partials/languageCard', {language})  %> 
                        <% }) %>
                    </div>

                    

                    <h3 class="card-title">Databases I Usage</h3>
                    <div class="col-xl-12 col-lg-8 col-md-6">
                        <div class="card">
                            <div class="card-content">
                                <div class="card card-shadow">
                                    <div class="card-header card-header-transparent">
                                        
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                        <div class="card bank-card pull-up">
                                            <div class="card-content">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-3 text-center">
                                                            <img src="https://img.icons8.com/color/75/000000/mysql-logo.png"/>
                                                        </div>
                                                        <div class="col-3 text-center">
                                                            <img src="https://img.icons8.com/color/75/000000/mongodb.png"/>
                                                        </div>
                                                        <div class="col-3 text-center">
                                                            <img src="https://img.icons8.com/color/75/000000/postgreesql.png"/>
                                                        </div>
                                                        <div class="col-3 text-center">
                                                            <img src="https://img.icons8.com/color/75/000000/redis.png"/>
                                                        </div>  


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Social Accounts -->
                    <div class="col-md-12 row justify-content-center">
                        <div class="col-3 text-center">
                            <img src="https://img.icons8.com/color/48/000000/facebook.png"/>
                        </div>
                        <div class="col-3 text-center">
                            <img src="https://img.icons8.com/fluency/48/000000/instagram-new.png"/>                        
                        </div>
                        <div class="col-3 text-center">
                            <img src="https://img.icons8.com/fluency/48/000000/twitter.png"/>                        
                        </div>
                        <div class="col-3 text-center">
                            <img src="https://img.icons8.com/color/48/000000/linkedin.png"/>                        
                        </div>
                        <div class="col-3 text-center">
                            <img src="https://img.icons8.com/external-justicon-flat-justicon/48/000000/external-whatsapp-social-media-justicon-flat-justicon.png"/>                                                  
                        </div>
                        <div class="col-3 text-center">
                            <img src="https://img.icons8.com/ios-glyphs/48/000000/github.png"/>                        
                        </div>
                        <div class="col-3 text-center">
                            <img src="https://img.icons8.com/color/48/000000/gmail-new.png"/>                       
                        </div>
                    </div>





                    <div class="row">

                        <div class="col-xl-3 col-lg-4 col-md-12">
                            <div class="chart-stats text-center my-3">
                                <div class="card bg-gradient-directional-primary">
                                    <div class="card-content">
                                        <div class="card-body">
                                            <div class="media d-flex">
                                                <div class="media-body text-white text-left">
                                                    <h3 class="text-white">$15,320</h3>
                                                    <span>Transaction</span>
                                                </div>
                                                <div class="percentage">
                                                    <span>63%</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card bg-gradient-directional-warning">
                                    <div class="card-content">
                                        <div class="card-body">
                                            <div class="media d-flex">
                                                <div class="media-body text-white text-left">
                                                    <h3 class="text-white">156</h3>
                                                    <span>New Clients</span>
                                                </div>
                                                <div class="percentage">
                                                    <span>54%</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card bg-gradient-directional-cyan">
                                    <div class="card-content">
                                        <div class="card-body">
                                            <div class="media d-flex">
                                                <div class="media-body text-white text-left">
                                                    <h3 class="text-white">278</h3>
                                                    <span>New Projects</span>
                                                </div>
                                                <div class="percentage">
                                                    <span>71%</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                        <div class="col-xl-7 col-lg-6 col-md-12">
                            <div class="card recent-loan">
                                <div class="card-header">
                                    <h4 class="text-center">Loan Applications</h4>
                                </div>
                                <div class="card-content">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th class="border-top-0"></th>
                                                    <th class="border-top-0">Loan Amount</th>
                                                    <th class="border-top-0">Date</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="avatar avatar-sm">
                                                            <img class="rounded-circle" src="/admin/images/portrait/small/avatar-s-4.png" alt="Avatar" />
                                                        </div>
                                                    </td>
                                                    <td class="text-truncate">
                                                        <i class="ft-arrow-down-left success"></i> $20000
                                                        <div class="font-small-2 text-light"><i class="font-small-2 ft-map-pin"></i> S.G.road,UK</div>
                                                    </td>
                                                    <td class="text-truncate">4:59p.m</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="avatar avatar-sm">
                                                            <img class="rounded-circle" src="/admin/images/portrait/small/avatar-s-1.png" alt="Avatar" />
                                                        </div>
                                                    </td>
                                                    <td class="text-truncate">
                                                        <i class="ft-arrow-up-right danger"></i> $500
                                                        <div class="font-small-2 text-light"><i class="font-small-2 ft-map-pin"></i> P.stone,UK</div>
                                                    </td>
                                                    <td class="text-truncate">2:01p.m</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="avatar avatar-sm">
                                                            <img class="rounded-circle" src="/admin/images/portrait/small/avatar-s-10.png" alt="Avatar" />
                                                        </div>
                                                    </td>
                                                    <td class="text-truncate">
                                                        <i class="ft-arrow-down-left success"></i> $10000
                                                        <div class="font-small-2 text-light">
                                                            <i class="font-small-2 ft-map-pin"></i> Grod Street,UK
                                                        </div>
                                                    </td>
                                                    <td class="text-truncate">12:50p.m</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="avatar avatar-sm">
                                                            <img class="rounded-circle" src="/admin/images/portrait/small/avatar-s-9.png" alt="Avatar" />
                                                        </div>
                                                    </td>
                                                    <td class="text-truncate">
                                                        <i class="ft-arrow-up-right danger"></i> $2000
                                                        <div class="font-small-2 text-light"><i class="font-small-2 ft-map-pin"></i> Malbourn,UK</div>
                                                    </td>
                                                    <td class="text-truncate">9:45a.m</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="avatar avatar-sm">
                                                            <img class="rounded-circle" src="/admin/images/portrait/small/avatar-s-12.png" alt="Avatar" />
                                                        </div>
                                                    </td>
                                                    <td class="text-truncate">
                                                        <i class="ft-arrow-up-right danger"></i> $1000
                                                        <div class="font-small-2 text-light">
                                                            <i class="font-small-2 ft-map-pin"></i> Scott Lane,UK
                                                        </div>
                                                    </td>
                                                    <td class="text-truncate">8:22a.m</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row match-height">
                        <div class="col-xl-12 col-lg-12 col-md-12">
                            <div class="card add-card">
                                <div class="card-header">
                                    <h4>Add Card</h4>
                                </div>
                                <div class="card-content">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-xl-6 col-lg-6 col-md-12 mb-3">
                                                <div class="card-wrapper"></div>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-12">
                                                <form action="#" class="card-form">
                                                    <fieldset class="mb-1">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control card-number" name="number" id="card-number" maxlength="19" placeholder="Card Number" />
                                                        </div>
                                                    </fieldset>
                                                    <fieldset class="mb-1">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control card-name" name="name" id="card-name" placeholder="Card Holder Name" />
                                                        </div>
                                                    </fieldset>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <fieldset class="mb-1">
                                                                <div class="form-group">
                                                                    <input type="text" class="form-control card-expiry" name="expiry" id="card-expiry" placeholder="Card Expiry Date" />
                                                                </div>
                                                            </fieldset>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <fieldset class="mb-1">
                                                                <div class="form-group">
                                                                    <input type="text" class="form-control card-cvc" name="cvc" id="card-cvc" maxlength="16" placeholder="Card CVC Number" />
                                                                </div>
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <input type="button" name="generate" value="Generate" class="btn round btn-primary box-shadow-1 px-3 mr-1" />
                                                            <input type="button" name="cancel" value="Cancel" class="btn btn-secondary round box-shadow-1 px-3" />
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>
    <!-- END: Content-->