    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <section class="row flexbox-container">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="col-lg-4 col-md-8 col-10 box-shadow-2 p-0">
                            <div class="card border-grey border-lighten-3 px-1 py-1 m-0">
                                <div class="card-header border-0">
                                    <div class="card-title text-center">
                                        <img src="/images/logo.svg" alt="branding logo">
                                    </div>
                                </div>

                                <div class="card-content">

                                    <div class="text-center">
                                        <a href="https://www.facebook.com/baynarkozcu/" class="btn btn-social-icon mr-1 mb-1 btn-outline-facebook"><span class="la la-facebook"></span></a>
                                        <a href="https://twitter.com/baynarkozcu" class="btn btn-social-icon mr-1 mb-1 btn-outline-twitter"><span class="la la-twitter"></span></a>
                                        <a href="https://www.linkedin.com/in/enesozudogruu/" class="btn btn-social-icon mr-1 mb-1 btn-outline-linkedin"><span class="la la-linkedin font-medium-4"></span></a>
                                        <a href="https://github.com/baynarkozcu" class="btn btn-social-icon mr-1 mb-1 btn-outline-github"><span class="la la-github font-medium-4"></span></a>
                                    </div>


                                    <% if (locals.validationErrors != null || locals.loginErrors != null) { %>
                                        <%- include('./partials/errorMessages')  %> 
                                    <% } %>

                                    <div class="card-body">
                                        <form class="form-horizontal" action="/login" method="POST" novalidate>
                                            <fieldset class="form-group position-relative has-icon-left">

                                                <input type="text" class="form-control" name="email" id="email" placeholder="Your Email" >
                                                <div class="form-control-position">
                                                    <i class="la la-user"></i>
                                                </div>

                                            </fieldset>
                                            <fieldset class="form-group position-relative has-icon-left">
                                                <input type="password" class="form-control" name="password" id="user-password" placeholder="Enter Password" >
                                                <div class="form-control-position">
                                                    <i class="la la-key"></i>
                                                </div>
                                            </fieldset>

                                            <div class="form-group row">
                                                <div class="col-sm-6 col-12 float-sm-left text-center text-sm-right"><a href="/forget-password" class="card-link">Forgot Password</a></div>
                                            </div>

                                            <button type="submit" class="btn btn-outline-info btn-block"><i class="ft-unlock"></i> Login</button>
                                        </form>
                                    </div>

                                    <div class="card-body">
                                        <a href="/register" class="btn btn-outline-danger btn-block"><i class="la la-user"></i>
                                            Register</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>
    <!-- END: Content-->