    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <section class="row flexbox-container">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="col-lg-4 col-md-8 col-10 box-shadow-2 p-0">
                            <div class="card border-grey border-lighten-3 px-2 py-2 m-0">
                                <div class="card-header border-0 pb-0">
                                    <div class="card-title text-center">
                                        <img src="/images/logo.svg" alt="branding logo">
                                    </div>
                                </div>


                                <% if (locals.validationErrors != null || locals.loginErrors != null) { %>
                                    <%- include('./partials/errorMessages')  %> 
                                <% } %>

                                <div class="card-content">
                                    <div class="card-body">
                                        <form class="form-horizontal" action="/reset-password" method="POST" novalidate>

                                            <fieldset class="form-group position-relative has-icon-left">
                                                <input type="password" class="form-control" name="password" id="password" placeholder="Your Password">
                                                <div class="form-control-position">
                                                    <i class="la la-envelope"></i>
                                                </div>
                                            </fieldset>

                                            <fieldset class="form-group position-relative has-icon-left">
                                                <input type="password" class="form-control" name="repassword" id="repassword" placeholder="Repeat Your Password">
                                                <div class="form-control-position">
                                                    <i class="la la-envelope"></i>
                                                </div>
                                            </fieldset>
                                            <input type="hidden" value="<%- typeof userID != 'undefined' ? userID : '' %>"   name="userID" id="userID" >
                                            <input type="hidden" value="<%- typeof token != 'undefined' ? token : '' %>"  name="token" id="token">


                                            <button type="submit" class="btn btn-outline-info btn-lg btn-block"><i class="ft-unlock"></i> Recover
                                                Password</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>
    <!-- END: Content-->