<% validationErrors.forEach(error => { %>
    <div class="alert <%- typeof error.result != 'undefined' ?  "alert-success" : "alert-danger"  %>  alert-dismissable fade show" role="alert">
        <strong><%- error.msg %> %> </strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
   <% }) %>