
    <!-- BEGIN: Main Menu-->

    <div class="header-navbar navbar-expand-sm navbar navbar-horizontal navbar-fixed navbar-dark navbar-without-dd-arrow navbar-shadow" role="navigation" data-menu="menu-wrapper">
        <div class="navbar-container main-menu-content" data-menu="menu-container">
            <ul class="nav navbar-nav" id="main-menu-navigation" data-menu="menu-navigation">
                <li class="nav-item active">
                    <a class="nav-link" href="/">
                        <i class="la la-home"></i><span>Home</span>
                    </a>
                </li>

                <!-- CV -->
                <li class="dropdown nav-item" data-menu="dropdown">
                    <a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown">
                        <i class="la la-file-pdf-o"></i><span data-i18n="Accounts">CV</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li data-menu="">
                            <a class="dropdown-item" href="#" data-toggle=""><span data-i18n="downloadCv">Download CV</span>
                            </a>
                        </li>

                        <li data-menu="">
                            <a class="dropdown-item" href="#" data-toggle=""><span data-i18n="uploadCv">Upload New CV</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- Portfolio -->
                <li class="dropdown nav-item" data-menu="dropdown">
                    <a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown">
                        <i class="la la-file-image-o"></i><span data-i18n="Cards">Portfolio</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li data-menu="">
                            <a class="dropdown-item" href="#" data-toggle=""><span data-i18n="viewPortfolio">View Portfolio</span>
                            </a>
                        </li>
                        <li data-menu="">
                            <a class="dropdown-item" href="#" data-toggle=""><span data-i18n="addPortfolio">Add New Portfolio</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown nav-item" data-menu="dropdown"><a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown"><i class="la la-dollar"></i><span data-i18n="Payments">Payments</span></a>
                    <ul class="dropdown-menu">
                        <li data-menu=""><a class="dropdown-item" href="bank-payments.html" data-toggle=""><span data-i18n="Payments">Payments</span></a>
                        </li>
                        <li data-menu=""><a class="dropdown-item" href="bank-add-payment.html" data-toggle=""><span data-i18n="Add New">Add New</span></a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown nav-item" data-menu="dropdown"><a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown"><i class="la la-money"></i><span data-i18n="Loan">Loan</span></a>
                    <ul class="dropdown-menu">
                        <li data-menu=""><a class="dropdown-item" href="bank-loan.html" data-toggle=""><span data-i18n="All Loan">All Loan</span></a>
                        </li>
                        <li data-menu=""><a class="dropdown-item" href="bank-add-loan.html" data-toggle=""><span data-i18n="Add New">Add New</span></a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown nav-item" data-menu="dropdown"><a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown"><i class="la la-eye"></i><span>User Interface</span></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown"><i class="la la-tablet"></i><span data-i18n="Cards">Cards</span></a>
                            <ul class="dropdown-menu">
                                <li data-menu=""><a class="dropdown-item" href="card-bootstrap.html" data-toggle=""><span data-i18n="Bootstrap">Bootstrap</span></a>
                                </li>
                                <li data-menu=""><a class="dropdown-item" href="card-statistics.html" data-toggle=""><span data-i18n="Statistics">Statistics</span></a>
                                </li>
                                <li data-menu=""><a class="dropdown-item" href="card-charts.html" data-toggle=""><span data-i18n="Charts">Charts</span></a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown"><i class="la la-server"></i><span data-i18n="Components">Components</span></a>
                            <ul class="dropdown-menu">
                                <li data-menu=""><a class="dropdown-item" href="component-alerts.html" data-toggle=""><span data-i18n="Alerts">Alerts</span></a>
                                </li>
                                <li data-menu=""><a class="dropdown-item" href="component-callout.html" data-toggle=""><span data-i18n="Callout">Callout</span></a>
                                </li>
                                <li data-menu=""><a class="dropdown-item" href="component-buttons-basic.html" data-toggle=""><span data-i18n="Basic Buttons">Basic Buttons</span></a>
                                </li>
                                <li data-menu=""><a class="dropdown-item" href="component-buttons-extended.html" data-toggle=""><span data-i18n="Extended Buttons">Extended Buttons</span></a>
                                </li>
                                <li data-menu=""><a class="dropdown-item" href="component-carousel.html" data-toggle=""><span data-i18n="Carousel">Carousel</span></a>
                                </li>
                                <li data-menu=""><a class="dropdown-item" href="component-collapse.html" data-toggle=""><span data-i18n="Collapse">Collapse</span></a>
                                </li>
                                <li data-menu=""><a class="dropdown-item" href="component-dropdowns.html" data-toggle=""><span data-i18n="Dropdowns">Dropdowns</span></a>
                                </li>
                                <li data-menu=""><a class="dropdown-item" href="component-list-group.html" data-toggle=""><span data-i18n="List Group">List Group</span></a>
                                </li>
                                <li data-menu=""><a class="dropdown-item" href="component-modals.html" data-toggle=""><span data-i18n="Modals">Modals</span></a>
                                </li>
                                <li data-menu=""><a class="dropdown-item" href="component-pagination.html" data-toggle=""><span data-i18n="Pagination">Pagination</span></a>
                                </li>
                                <li data-menu=""><a class="dropdown-item" href="component-navs-component.html" data-toggle=""><span data-i18n="Navs Component">Navs Component</span></a>
                                </li>
                                <li data-menu=""><a class="dropdown-item" href="component-tabs-component.html" data-toggle=""><span data-i18n="Tabs Component">Tabs Component</span></a>
                                </li>
                                <li data-menu=""><a class="dropdown-item" href="component-pills-component.html" data-toggle=""><span data-i18n="Pills Component">Pills Component</span></a>
                                </li>
                                <li data-menu=""><a class="dropdown-item" href="component-tooltips.html" data-toggle=""><span data-i18n="Tooltips">Tooltips</span></a>
                                </li>
                                <li data-menu=""><a class="dropdown-item" href="component-popovers.html" data-toggle=""><span data-i18n="Popovers">Popovers</span></a>
                                </li>
                                <li data-menu=""><a class="dropdown-item" href="component-badges.html" data-toggle=""><span data-i18n="Badges">Badges</span></a>
                                </li>
                                <li data-menu=""><a class="dropdown-item" href="component-pill-badges.html" data-toggle=""><span data-i18n="Pill Badges">Pill Badges</span></a>
                                </li>
                                <li data-menu=""><a class="dropdown-item" href="component-progress.html" data-toggle=""><span data-i18n="Progress">Progress</span></a>
                                </li>
                                <li data-menu=""><a class="dropdown-item" href="component-media-objects.html" data-toggle=""><span data-i18n="Media Objects">Media Objects</span></a>
                                </li>
                                <li data-menu=""><a class="dropdown-item" href="component-scrollable.html" data-toggle=""><span data-i18n="Scrollable">Scrollable</span></a>
                                </li>
                                <li data-menu=""><a class="dropdown-item" href="component-spinners.html" data-toggle=""><span data-i18n="Spinners">Spinners</span></a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown"><i class="la la-unlock"></i><span data-i18n="Authentication">Authentication</span></a>
                            <ul class="dropdown-menu">
                                <li data-menu=""><a class="dropdown-item" href="login-with-bg-image.html" data-toggle="" target="_blank"><span data-i18n="Login">Login</span></a>
                                </li>
                                <li data-menu=""><a class="dropdown-item" href="register-with-bg-image.html" data-toggle="" target="_blank"><span data-i18n="SignIn">SignIn</span></a>
                                </li>
                                <li data-menu=""><a class="dropdown-item" href="recover-password.html" data-toggle="" target="_blank"><span data-i18n="Forgot Password">Forgot Password</span></a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown"><i class="la la-file-text"></i><span data-i18n="Form Layouts">Form Layouts</span></a>
                            <ul class="dropdown-menu">
                                <li data-menu=""><a class="dropdown-item" href="form-layout-basic.html" data-toggle=""><span data-i18n="Basic Forms">Basic Forms</span></a>
                                </li>
                                <li data-menu=""><a class="dropdown-item" href="form-layout-horizontal.html" data-toggle=""><span data-i18n="Horizontal Forms">Horizontal Forms</span></a>
                                </li>
                                <li data-menu=""><a class="dropdown-item" href="form-layout-hidden-labels.html" data-toggle=""><span data-i18n="Hidden Labels">Hidden Labels</span></a>
                                </li>
                                <li data-menu=""><a class="dropdown-item" href="form-layout-form-actions.html" data-toggle=""><span data-i18n="Form Actions">Form Actions</span></a>
                                </li>
                                <li data-menu=""><a class="dropdown-item" href="form-layout-row-separator.html" data-toggle=""><span data-i18n="Row Separator">Row Separator</span></a>
                                </li>
                                <li data-menu=""><a class="dropdown-item" href="form-layout-bordered.html" data-toggle=""><span data-i18n="Bordered">Bordered</span></a>
                                </li>
                                <li data-menu=""><a class="dropdown-item" href="form-layout-striped-rows.html" data-toggle=""><span data-i18n="Striped Rows">Striped Rows</span></a>
                                </li>
                                <li data-menu=""><a class="dropdown-item" href="form-layout-striped-labels.html" data-toggle=""><span data-i18n="Striped Labels">Striped Labels</span></a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown"><i class="la la-paste"></i><span data-i18n="Form Wizard">Form Wizard</span></a>
                            <ul class="dropdown-menu">
                                <li data-menu=""><a class="dropdown-item" href="form-wizard-circle-style.html" data-toggle=""><span data-i18n="Circle Style">Circle Style</span></a>
                                </li>
                                <li data-menu=""><a class="dropdown-item" href="form-wizard-notification-style.html" data-toggle=""><span data-i18n="Notification Style">Notification Style</span></a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown"><i class="la la-table"></i><span data-i18n="Bootstrap Tables">Bootstrap Tables</span></a>
                            <ul class="dropdown-menu">
                                <li data-menu=""><a class="dropdown-item" href="table-basic.html" data-toggle=""><span data-i18n="Basic Tables">Basic Tables</span></a>
                                </li>
                                <li data-menu=""><a class="dropdown-item" href="table-border.html" data-toggle=""><span data-i18n="Table Border">Table Border</span></a>
                                </li>
                                <li data-menu=""><a class="dropdown-item" href="table-sizing.html" data-toggle=""><span data-i18n="Table Sizing">Table Sizing</span></a>
                                </li>
                                <li data-menu=""><a class="dropdown-item" href="table-styling.html" data-toggle=""><span data-i18n="Table Styling">Table Styling</span></a>
                                </li>
                                <li data-menu=""><a class="dropdown-item" href="table-components.html" data-toggle=""><span data-i18n="Table Components">Table Components</span></a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown"><i class="la la-area-chart"></i><span data-i18n="Chartjs">Chartjs</span></a>
                            <ul class="dropdown-menu">
                                <li data-menu=""><a class="dropdown-item" href="chartjs-line-charts.html" data-toggle=""><span data-i18n="Line charts">Line charts</span></a>
                                </li>
                                <li data-menu=""><a class="dropdown-item" href="chartjs-bar-charts.html" data-toggle=""><span data-i18n="Bar charts">Bar charts</span></a>
                                </li>
                                <li data-menu=""><a class="dropdown-item" href="chartjs-pie-doughnut-charts.html" data-toggle=""><span data-i18n="Pie &amp; Doughnut charts">Pie &amp; Doughnut charts</span></a>
                                </li>
                                <li data-menu=""><a class="dropdown-item" href="chartjs-scatter-charts.html" data-toggle=""><span data-i18n="Scatter charts">Scatter charts</span></a>
                                </li>
                                <li data-menu=""><a class="dropdown-item" href="chartjs-polar-radar-charts.html" data-toggle=""><span data-i18n="Polar &amp; Radar charts">Polar &amp; Radar charts</span></a>
                                </li>
                                <li data-menu=""><a class="dropdown-item" href="chartjs-advance-charts.html" data-toggle=""><span data-i18n="Advance charts">Advance charts</span></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <!-- END: Main Menu-->