
    <!-- BEGIN: Main Menu-->

    <div class="header-navbar navbar-expand-sm navbar navbar-horizontal navbar-fixed navbar-dark navbar-without-dd-arrow navbar-shadow" role="navigation" data-menu="menu-wrapper">
        <div class="navbar-container main-menu-content" data-menu="menu-container">
            <ul class="nav navbar-nav" id="main-menu-navigation" data-menu="menu-navigation">

                <li class="nav-item active">
                    <a class="nav-link" href="/">
                        <i class="la la-home"></i><span>Home</span>
                    </a>
                </li>

                    <!-- Experiences -->
                    <li class="dropdown nav-item" data-menu="dropdown">
                        <a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown">
                            <i class="la la-hourglass-start"></i><span data-i18n="mySettings">My Experiences</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li data-menu="">
                                <a class="dropdown-item" href="#" data-toggle=""><span data-i18n="addExperience">Add New Experience</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                                <!-- Work Spaces -->
                <li class="dropdown nav-item" data-menu="dropdown">
                    <a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown">
                        <i class="la la-star-o"></i><span>Work Spaces</span>
                    </a>
                
                    <ul class="dropdown-menu">
                        <!-- Mobile Apps -->
                        <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu">
                            <a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown">
                                <i class="la la-mobile"></i><span data-i18n="Mobile_Apps">Mobile Apps</span>
                            </a>

                            <ul class="dropdown-menu">
                                <li data-menu="">
                                    <a class="dropdown-item" href="#" data-toggle="">
                                        <span data-i18n="BimAktüel">BimAktüel</span>
                                    </a>
                                </li>
                                <li data-menu="">
                                    <a class="dropdown-item" href="#" data-toggle="">
                                        <span data-i18n="BosphoreShift">BosphoreShift</span>
                                    </a>
                                </li>
                                <li data-menu="">
                                    <a class="dropdown-item" href="#" data-toggle="">
                                        <span data-i18n="DeltaAluminium">DeltaAluminium</span>
                                    </a>
                                </li>
                                <li data-menu="">
                                    <a class="dropdown-item" href="#" data-toggle="">
                                        <span data-i18n="Eczanem_Nerede">Eczanem Nerede</span>
                                    </a>
                                </li>
                                <li data-menu="">
                                    <a class="dropdown-item" href="#" data-toggle="">
                                        <span data-i18n="CryptoWorld">CryptoWorld</span>
                                    </a>
                                </li>
                                <li data-menu="">
                                    <a class="dropdown-item" href="#" data-toggle="">
                                        <span data-i18n="RememberMe">RememberMe</span>
                                    </a>
                                </li>
                                <li data-menu="">
                                    <a class="dropdown-item" href="#" data-toggle="">
                                        <span data-i18n="MandalinaBlog">MandalinaBlog</span>
                                    </a>
                                </li>
                                <li data-menu="">
                                    <a class="dropdown-item" href="#" data-toggle="">
                                        <span data-i18n="UlakMessenger">UlakMessenger</span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <!-- Web Apps -->
                        <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu">
                            <a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown">
                                <i class="la la-globe"></i><span data-i18n="Web_Apps">Web Apps</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li data-menu="">
                                    <a class="dropdown-item" href="#" data-toggle="">
                                        <span data-i18n="GameArchive">GameArchive</span>
                                    </a>
                                </li>
                                <li data-menu="">
                                    <a class="dropdown-item" href="#" data-toggle="">
                                        <span data-i18n="CustomerCart">CustomerCart</span>
                                    </a>
                                </li>
                                <li data-menu="">
                                    <a class="dropdown-item" href="#" data-toggle="">
                                        <span data-i18n="RandomJokeGenerator">RandomJokeGenerator</span>
                                    </a>
                                </li>
                                <li data-menu="">
                                    <a class="dropdown-item" href="#" data-toggle="">
                                        <span data-i18n="TodoApp">TodoApp</span>
                                    </a>
                                </li>
                                <li data-menu="">
                                    <a class="dropdown-item" href="#" data-toggle="">
                                        <span data-i18n="AccountList">AccountList</span>
                                    </a>
                                </li>


                            </ul>
                        </li>



                        <!-- UI / UX Design -->
                        <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu">
                            <a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown">
                                <i class="la la-paint-brush"></i><span data-i18n="UI/UX_Design">UI/UX Design</span>
                            </a>
                        </li>


                        <!-- Add Work Spaces -->
                        <li data-menu="">
                            <a class="dropdown-item" href="#" data-toggle="dropdown">
                                <i class="la la-star"></i><span data-i18n="addWorkSpaces">Add WorkSpaces</span>
                            </a>
                        </li>

                    </ul>
                </li>


                <!-- Blogs -->
                <li class="dropdown nav-item" data-menu="dropdown">
                    <a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown">
                        <i class="la la-book"></i><span data-i18n="Blogs">Blogs</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li data-menu="">
                            <a class="dropdown-item" href="#" data-toggle=""><span data-i18n="addBlog">Add New Blog</span>
                            </a>
                        </li>
                    </ul>
                </li>


                <!-- References -->
                <li class="dropdown nav-item" data-menu="dropdown">
                    <a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown">
                        <i class="la la-certificate"></i><span data-i18n="References">References</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li data-menu="">
                            <a class="dropdown-item" href="#" data-toggle=""><span data-i18n="addReferences">Add New References</span>
                            </a>
                        </li>
                    </ul>
                </li>



                <!-- Portfolio -->
                <li class="dropdown nav-item" data-menu="dropdown">
                    <a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown">
                        <i class="la la-file-image-o"></i><span data-i18n="Portfolio">Portfolio</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li data-menu="">
                            <a class="dropdown-item" href="#" data-toggle=""><span data-i18n="addPortfolio">Add New Portfolio</span>
                            </a>
                        </li>
                    </ul>
                </li>
             

                <!-- CV -->
                <li class="dropdown nav-item" data-menu="dropdown">
                    <a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown">
                        <i class="la la-file-pdf-o"></i><span data-i18n="CV">CV</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li data-menu="">
                            <a class="dropdown-item" href="#" data-toggle=""><span data-i18n="uploadCv">Upload New CV</span>
                            </a>
                        </li>
                    </ul>
                </li>


                <!-- My Settings -->
                <li class="dropdown nav-item" data-menu="dropdown">
                    <a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown">
                        <i class="la la-cog"></i><span data-i18n="mySettings">My Settings</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li data-menu="">
                            <a class="dropdown-item" href="#" data-toggle=""><span data-i18n="uploadCv">Language Settings</span>
                            </a>
                        </li>
                        <li data-menu="">
                            <a class="dropdown-item" href="#" data-toggle=""><span data-i18n="databases">My Usage Databases</span>
                            </a>
                        </li>
                        <li data-menu="">
                            <a class="dropdown-item" href="#" data-toggle=""><span data-i18n="tools">My Usage Tools</span>
                            </a>
                        </li>
                    </ul>
                </li>



 
            
            </ul>
        </div>
    </div>

    <!-- END: Main Menu-->